@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ol>
        <p> This is my initial deployment </p>
        <p> This is my new feature from IAAC, yeah I fixed the automatic deployment </p>
        <p> This is the 3rd line and I love what is going on </p>
    </ol>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
